<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note work today</title>
    <link rel ="stylesheet" type="text/css" href="./css/style.css"/>
    <script src="./javascript/handle.js"></script>
</head>
<body onload="loadText()">
    <div id="paper">
        <textarea id="note"></textarea>
    </div>
    <button type="button" class="btn-success" id="btn-save" onClick="clickSave()">Save</button>
</body>
</html>