body{
    margin: 0;
    background-repeat: round;
    background-attachment: fixed;
    position: relative;
}

.btn:hover{
    background-color: lightgreen;
}

#chooseIMG{
    height: 35px;
    width: 100px;
    font-weight: bold;
    box-shadow: black 0px 3px 5px;
    position: absolute;
    left: 35px;
    margin-top: 30px;
}

#txtUrl{
    height: 30px;
    width: 200px;
    box-shadow: black 0px 3px 5px;
    left: 145px;
    margin-top: 30px;
    position: absolute;
    display: none;
}

#paper{
    width: 400px;
    height: 400px;
    left: 600px;
    margin-top: 150px;
    box-shadow: black 0px 3px 5px;
    position: absolute;
}

#note{
    width: 89%;
    height: 89%;
    padding: 20px;
    font-size: 20px;
    opacity: 0.9;
}

.btn-success{
    height: 70px;
    width: 90px;
    border-radius: 13%;
    font-weight: bold;
    box-shadow: black 0px 3px 5px;
    position: absolute;
    right: 300px;
    margin-top: 152px;
}